
/* Header Box */
.head {
    font-family: 'Merriweather Sans', sans-serif;;
    width: 100%;
    margin: 0 auto;
    height: auto;
    border-bottom: solid 5px #666;
}

 /* Name element */

 .banner {
     padding: 0;
 }

 .name {
    background-color: #102dd6;
    color: #FDFEFE;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    margin-bottom: 0;
    
 }

 /* Main Game Box Context */

/* Main Game Background*/

.background {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-image: url("../images/bright_squares.png");
    background-size: 100% auto;
}

.begin{
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#2D2A2A;

}

#inxsBox {
    background-color: salmon;
}

/* Boxes for Lives and Wins */

.smallbox {
    height: 150px;
    background-color: yellowgreen;
    border: solid 2px #666;
    margin-top: 15px;
}

.smallboxtext {
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    color: #2D2A2A;
    text-align: center;
}

.smallboxnumbers {
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    color: #2D2A2A;
    text-align: center;
    border: 1px solid #666;
}

 /* Hangman Image */

.image {
    height: 400px;
    width: 300px;
    padding: 5px;
    background-color: yellow;
    margin-top: 5px; 
    margin-bottom: 5px;

}


/* Letter Boxes */


.letterbox {
    font-family: 'Signika Negative', sans-serif;
    font-size: 50px;
    text-align: center;
    height: 75px;
    width: 75px;
    margin-right: 3px;
    margin-bottom: 5px;
    color: #2D2A2A;
    background-color: salmon;
    border: 2px solid #666;

}

.hide {
    visibility: hidden;
}



 /* Footer*/

.foot {
    width: 100%;
    margin: 0 auto;
    height: 70px;
    background-color: #666;
    bottom: 0;
    border-top: 5px solid #102dd6;
    border-bottom: 5px solid #102dd6;
}

.crtext {
    font-family: 'Signika Negative', sans-serif;
    color: #FDFEFE;
    text-align: center;
    margin-top: 20px;
}